@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.education-section {
    margin: 10% auto;
    max-width: 90%;
}

.education-section .title-education {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: -0.768px;
    align-self: stretch;
}
.education-frame{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.education-section .info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.education-section .tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 328px;
}

.education-section .tag .uni {
    margin-top: -5px;
    color: var(--white, #FFF);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.education-section .tag .high {
    color: var(--white, #FFF);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.education-section .lines {
    width: 4px;
    height: 340px;
    background: #FFF1F2;
}

.dot {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 135px;
}
@media (max-width: 812px) {
    .dot, .education-section .lines ,.education-section .tag{
        display: none;
    }
}
.school {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: var(--neutral-100, #F5F5F5);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.high {
    margin-top: -20px;
}

.university {
    margin-top: -4px;
}

.upper {
    margin-top: 78px;

}

.lower {
    margin-top: 86px;
}