.contact-section {
    margin: 10% auto;
    width:90%;
    border-radius: 16px;
    background: var(--neutral-800, #262626);
    box-shadow: 0px 22px 50px 24px rgba(0, 0, 0, 0.25);
    padding: 4%;
}

.contact-title {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 75% */
    letter-spacing: -0.768px;
    margin-bottom: 18px;
}

.contact-subtitle {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 300% */
    letter-spacing: -0.192px;
    margin-bottom: 18px;

}

.contact-form {
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
}

.contact-inputs {
    width:400px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-inputs input,
.contact-inputs textarea {
    padding: 18px;
    font-family: "Roboto Mono";
    font-size: 16px;
    border: none;
    border-radius: 16px;
    background-color: #333;
    color: #FFF;
}

.contact-inputs textarea {
    height: 148px;
    resize: none;
}

.contact-info {
    color: var(--neutral-100, #F5F5F5);
    font-family: "Roboto Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contact-info p {
    margin: 10px;
    display: flex;
}

.contact-info p span {
    min-width: 100px;
    font-weight: bold;
}

.contact-button {
    padding: 10px 40px;
    font-family: "Roboto Mono";
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: var(--rose-400, #FB7185);
    border: none;
    border-radius: 16px;
    cursor: pointer;
    align-self: flex-start;
}