@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 2rem;
  font-weight: normal;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
