@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.bar {
    display: flex;
    width: 1280px;
    padding: 40px;
    justify-content: flex-end;
    align-items: center;
}

.bar .right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.bar .right div {
    color: var(--neutral-500, #737373);
    font-family: "Roboto Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 155.556% */
}